body{
    background-color: #efefef;
}


.main {
    background-color: white;
    margin: 3% 10%;
}

.btn-publish {
    float: right;
}

#div_right{
    float: right;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}


.question-img{
    width : 39px;
    height : 39px;
}

#div_question{
    margin-top: 50px;
}

.comment_btn{
    padding: 3px 13px;
    opacity:0.6;
    background: #f5f5f5;
    border: 0;
}

.comment_btn:hover{
    background-color: #499ef2;
    background-position: 0px -28px;
    opacity:1;
}


.comment_span{
    color:#999;
    font-size: 16px;
}

.myMdeia{
    padding: 9px 0px;
    border-top: solid 1px #eeeeee;
}




