<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>简e社区</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <script>
        $(function(){

            $("#li_dropdown").hover(function(){
                $("#li_dropdown").attr("class", "dropdown open");
            },function(){
                $("#li_dropdown").attr("class", "dropdown");
            });
        });

    </script>

</head>
<body>


<!-导航栏-->
<nav class="navbar navbar-default" th:fragment="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">简e社区</span>
            </button>
            <a class="navbar-brand" href="/">简e社区</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入搜索的话题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user}">
                    <a href="/publish">提问</a>
                </li>
                <li th:unless="${session.user}">
                    <a href="https://github.com/login/oauth/authorize?client_id=89cceb7e8f19ce08fdea&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登陆</a>
                </li>

                <li id="li_dropdown" class="dropdown" th:if="${session.user}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span th:text="${session.user.name}"></span>
                        <span class="caret"></span>
                    </a>


                    <ul class="dropdown-menu"  aria-labelledby="dropdownMenu1">
                        <li><a href="/profile/questions">问题中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/loginOut">退出登陆</a></li>
                    </ul>
                </li>

                <li th:width="58px" th:height="50px">
                    <a>
                        <img class="img-rounded" th:if="${session.user}" th:src="${session.user.avatarUrl}" width="40px" height="35px">
                        <img class="img-rounded" th:unless="${session.user}" th:src="@{/img/a.png}" width="40px" height="35px">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div align="center">
    <div class="jumbotron">
        <h1>出错啦!</h1>
        <p th:text="${message}">您要的信息没有找到,请稍后再试！</p>
        <span th:if="${errorCode}" >错误码:</span>
        <span th:text="${errorCode}"></span>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
    </div>
</div>





</body>
</html>