<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>简e社区</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script th:src="${'/js/community.js'}"></script>

    <script>
        $(function(){

            $("#li_dropdown").hover(function(){
                $("#li_dropdown").attr("class", "dropdown open");
            },function(){
                $("#li_dropdown").attr("class", "dropdown");
            });
        });

    </script>


</head>
<body>


<!--导航栏-->
<div th:replace="index::navigation"></div>




<div align="center">
    <div class="jumbotron">
        <h1>出错啦!</h1>
        <p th:text="${message}">您要的信息没有找到,请稍后再试！</p>
        <span th:if="${errorCode}" >错误码:</span>
        <span th:text="${errorCode}"></span>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
    </div>
</div>





</body>
</html>