<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>简e社区</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <script>
        $(function(){
            page(1,5);

            $("#li_dropdown").hover(function(){
                $("#li_dropdown").attr("class", "dropdown open");
            },function(){
                $("#li_dropdown").attr("class", "dropdown");
            });
        });

            function page(cp,re) {


                $("#questions").empty();
                $("#div_pages").empty();


                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "/getQuestions?record=" + re + "&currentPage=" + cp,
                    success: function (data) {
                        for (var i = 0; i < data.questions.length; i++) {
                            var title = data.questions[i].title;
                            var avatarUrl = data.questions[i].user.avatarUrl;
                            var likeCount = data.questions[i].likeCount;
                            var viewCount = data.questions[i].viewCount;
                            var commentCount = data.questions[i].commentCount;
                            var questionid = data.questions[i].id;
                            $("#questions").append(
                                " <div class='media'>\n" +
                                "                <div class='media-left'>\n" +
                                "                    <a style='text-decoration:none;' href='/questions/"+questionid+"'>\n" +
                                "                        <img  class='question-img media-object img-rounded' src='" + avatarUrl + "'>\n" +
                                "                    </a>\n" +
                                "                </div>\n" +
                                "                <div class='media-body'>\n" +
                                "                    <a style='text-decoration:none;' href='/questions/"+questionid+"'><h4 class='media-heading'>" + title + "</h4>\n</a> " +
                                "                    <span class='text-desc'>\n" +
                                "                        • " + commentCount + " 个评论    • " + viewCount + " 次浏览    • " + likeCount + " 个点赞\n" +
                                "                    </span>\n" +
                                "                </div>\n" +
                                "            </div>\n" +
                                "            <hr/>"
                            );

                        }


                        var record = data.record;
                        var currentPage = data.currentPage;
                        var totalPage = data.totalPage;
                        var pagetoolbar = " <nav id=\"nav_navigation\" aria-label=\"Page navigation\" style=\"text-align: center;\">\n" +
                            "                                <ul id=\"ul_page\" class=\"pagination\">"+
                            "                                   <li id=\"page_first\">\n" +
                        "                                        <a style='text-decoration:none;'  href=\"javascript:page(" + 1 + "," + record + ")\" aria-label=\"Previous\">\n" +
                        "                                            <span aria-hidden=\"true\" class='glyphicon glyphicon-chevron-left'></span>\n" +
                        "                                        </a>\n" +
                        "                                      </li>\n " +
                            "                                    <li id=\"page_previous\">\n" +
                            "                                        <a style='text-decoration:none;'  href=\"javascript:page(" + (currentPage - 1) + "," + record + ")\" aria-label=\"Previous\">\n" +
                            "                                            <span aria-hidden=\"true\" class='glyphicon glyphicon-menu-left'></span>\n" +
                            "                                        </a>\n" +
                            "                                    </li>\n";


                        for (var j = 0; j < data.pagetoolbar.length; j++) {
                            var myrecord = data.record;
                            var mypagetoolbar = data.pagetoolbar[j];

                            if(mypagetoolbar==data.currentPage){
                                pagetoolbar += " <li  id=\"page_"+(j+1)+"\"><a  style='text-decoration:none;background-color:#5bc0de;'  href=\"javascript:page(" + mypagetoolbar+ "," + myrecord  + ")\">" + mypagetoolbar + "</a></li>"
                            }else{
                                pagetoolbar += " <li  id=\"page_"+(j+1)+"\"><a style='text-decoration:none;' href=\"javascript:page(" + mypagetoolbar+ "," + myrecord  + ")\">" + mypagetoolbar + "</a></li>"
                            }

                        }
                        pagetoolbar += "                        <li id=\"page_next\">\n" +
                            "                                        <a style='text-decoration:none;' href=\"javascript:page(" + (currentPage + 1) + "," + record + ")\" aria-label=\"Next\">\n" +
                            "                                            <span aria-hidden=\"true\" class='glyphicon glyphicon-menu-right'></span>\n" +
                            "                                        </a>\n" +
                            "                                    </li> "+
                            "                                <li id=\"page_last\">\n "+
                        "                                        <a style='text-decoration:none;' href=\"javascript:page(" + totalPage + "," + record + ")\" aria-label=\"Next\">\n" +
                        "                                            <span aria-hidden=\"true\" class='glyphicon glyphicon-chevron-right'></span>\n" +
                        "                                        </a>\n" +
                        "                                    </li>\n" +
                            "                                </ul>\n" +
                            "                            </nav>";

                        $("#div_pages").append(pagetoolbar);

                        if (cp==1){
                            $("#page_previous").hide();
                            $("#page_first").hide();
                        }else if(currentPage==totalPage){
                            $("#page_next").hide();
                            $("#page_last").hide();
                        }
                    }
                });

            }

    </script>

</head>
<body>


<!-导航栏-->
<nav class="navbar navbar-default" th:fragment="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">简e社区</span>
            </button>
            <a class="navbar-brand" href="/">简e社区</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入搜索的话题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user}">
                    <a href="/publish">提问</a>
                </li>
                <li th:unless="${session.user}">
                    <a href="https://github.com/login/oauth/authorize?client_id=89cceb7e8f19ce08fdea&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登陆</a>
                </li>

                <li id="li_dropdown" class="dropdown" th:if="${session.user}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span th:text="${session.user.name}"></span>
                        <span class="caret"></span>
                    </a>


                    <ul class="dropdown-menu"  aria-labelledby="dropdownMenu1">
                        <li><a href="/profile/questions">问题中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/loginOut">退出登陆</a></li>
                    </ul>
                </li>

                <li th:width="58px" th:height="50px">
                    <a>
                        <img class="img-rounded" th:if="${session.user}" th:src="${session.user.avatarUrl}" width="40px" height="35px">
                        <img class="img-rounded" th:unless="${session.user}" th:src="@{img/a.png}" width="40px" height="35px">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>








<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <h4><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>发现</h4>
            <hr>

            <!--问题-->
            <div id="questions">
            </div>


            <!--分页栏-->

            <div class="container-fluid">
                <div class="row">
                    <div id="div_pages" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
            </div>




        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>


</body>
</html>