<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问题中心</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/community.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


    <script>
        $(function(){
            page(1,5);

            $("#li_dropdown").hover(function(){
                $("#li_dropdown").attr("class", "dropdown open");
            },function(){
                $("#li_dropdown").attr("class", "dropdown");
            });
        });

            function page(cp,re) {


                $("#questions").empty();
                $("#div_pages").empty();


                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "/profile/user/getQuestions?record=" + re + "&currentPage=" + cp,
                    success: function (data) {
                        for (var i = 0; i < data.questions.length; i++) {
                            var title = data.questions[i].title;
                            var avatarUrl = data.questions[i].user.avatarUrl;
                            var likeCount = data.questions[i].likeCount;
                            var viewCount = data.questions[i].viewCount;
                            var commentCount = data.questions[i].commentCount;
                            var questionid = data.questions[i].id;
                            $("#questions").append(
                                " <div class='media'>\n" +
                                "                <div class='media-left'>\n" +
                                "                    <a style='text-decoration:none;' href='/questions/"+questionid+"'>\n" +
                                "                        <img  class='question-img media-object img-rounded' src='" + avatarUrl + "'>\n" +
                                "                    </a>\n" +
                                "                </div>\n" +
                                "                <div class='media-body'>\n" +
                                "                    <a style='text-decoration:none;' href='/questions/"+questionid+"'><h4 class='media-heading'>" + title + "</h4>\n</a> " +
                                "                    <span class='text-desc'>\n" +
                                "                        • " + commentCount + " 个评论 • " + viewCount + " 次浏览 • " + likeCount + " 个点赞\n" +
                                "                    </span>\n" +
                                "                </div>\n" +
                                "            </div>\n" +
                                "            <hr/>"
                            );

                        }


                        var record = data.record;
                        var currentPage = data.currentPage;
                        var totalPage = data.totalPage;
                        var pagetoolbar = " <nav id=\"nav_navigation\" aria-label=\"Page navigation\" style=\"text-align: center;\">\n" +
                            "                                <ul id=\"ul_page\" class=\"pagination\">"+
                            "                                   <li id=\"page_first\">\n" +
                        "                                        <a  href=\"javascript:page(" + 1 + "," + record + ")\" aria-label=\"Previous\">\n" +
                        "                                            <span aria-hidden=\"true\" class='glyphicon glyphicon-chevron-left'></span>\n" +
                        "                                        </a>\n" +
                        "                                      </li>\n " +
                            "                                    <li id=\"page_previous\">\n" +
                            "                                        <a  href=\"javascript:page(" + (currentPage - 1) + "," + record + ")\" aria-label=\"Previous\">\n" +
                            "                                            <span aria-hidden=\"true\" class='glyphicon glyphicon-menu-left'></span>\n" +
                            "                                        </a>\n" +
                            "                                    </li>\n";


                        for (var j = 0; j < data.pagetoolbar.length; j++) {
                            var myrecord = data.record;
                            var mypagetoolbar = data.pagetoolbar[j];

                            if(mypagetoolbar==data.currentPage){
                                pagetoolbar += " <li  id=\"page_"+(j+1)+"\"><a style='background-color:#5bc0de;'  href=\"javascript:page(" + mypagetoolbar+ "," + myrecord+ ")\">" + mypagetoolbar + "</a></li>"
                            }else{
                                pagetoolbar += " <li  id=\"page_"+(j+1)+"\"><a href=\"javascript:page(" + mypagetoolbar+ "," + myrecord  + ")\">" + mypagetoolbar + "</a></li>"
                            }

                        }
                        pagetoolbar += "                        <li id=\"page_next\">\n" +
                            "                                        <a href=\"javascript:page(" + (currentPage + 1) + "," + record + ")\" aria-label=\"Next\">\n" +
                            "                                            <span aria-hidden=\"true\" class='glyphicon glyphicon-menu-right'></span>\n" +
                            "                                        </a>\n" +
                            "                                    </li> "+
                            "                                <li id=\"page_last\">\n "+
                        "                                        <a href=\"javascript:page(" + totalPage + "," + record + ")\" aria-label=\"Next\">\n" +
                        "                                            <span aria-hidden=\"true\" class='glyphicon glyphicon-chevron-right'></span>\n" +
                        "                                        </a>\n" +
                        "                                    </li>\n" +
                            "                                </ul>\n" +
                            "                            </nav>";

                        $("#div_pages").append(pagetoolbar);

                        if (cp==1){
                            $("#page_previous").hide();
                            $("#page_first").hide();
                        }else if(currentPage==totalPage){
                            $("#page_next").hide();
                            $("#page_last").hide();
                        }
                    }
                });
            }

    </script>

</head>
<body>

<!--导航栏-->
<div th:replace="index::navigation">

</div>







<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <h4>
                <!--<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>-->
                <span th:text="${titleBar}"></span>
            </h4>
            <hr>

            <!--问题-->
            <div id="questions">
            </div>


            <!--分页栏-->

            <div class="container-fluid">
                <div class="row">
                    <div id="div_pages" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
            </div>




        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <div id="div_question" class="list-group">
                <a th:href="@{/profile/questions}" class="list-group-item active">
                   我的问题
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">6</span>
                    最新回复
                </a>
            </div>
        </div>
    </div>
</div>


</body>
</html>