<!--<!DOCTYPE html>&ndash;&gt;-->
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布-简e社区</title>

    <link rel="stylesheet" th:href="${'/markdown/css/editormd.css'}">
    <link rel="stylesheet" th:href="${'/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="${'/css/bootstrap-theme.min.css'}">
    <link rel="stylesheet" th:href="${'/css/community.css'}">
    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
    <script th:src="${'/js/jquery-3.4.1.min.js'}"></script>
    <script th:src="${'/markdown/js/editormd.js'}"></script>
    <script th:src="${'/js/bootstrap.min.js'}"></script>
    <script th:src="${'/js/community.js'}"></script>





    <script type="text/javascript">

        function getQuestionTags(element){
            var value = element.getAttribute("data-tag").trim();
            var preValue = $("#tags").val().trim();
            var splits = preValue.split(",");
            if (preValue == "") {
                $("#tags").val(value);
                return;
            }
            for(var i = 0 ; i < splits.length; i++){
                if (splits[i].indexOf(value)!=-1){
                    if (splits[i].length==value.length){
                        return;
                    }
                }
            }
            $("#tags").val(preValue + "," + value);
        }


        function  callback(title,description,tags,data){

            $("#msg").empty();
            if(data.success=="0"){
                var errormsg = "<div class='alert alert-danger alert-dismissible' role='alert'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"+
                    "<span aria-hidden='true'>&times;</span>"+
                    "</button>"+
                    "<strong>错误：</strong>"+data.msg+
                    "</div>";
                $("#msg").append(errormsg);
            }else if (data.success=="1") {
                var successmsg = "<div class='alert alert-success alert-dismissible' role='alert'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"+
                    "<span aria-hidden='true'>&times;</span>"+
                    "</button>"+
                    "<strong>成功：</strong>"+data.msg+
                    "</div>";
                $("#msg").append(successmsg);
                var hr = "/";
                window.location.href = hr;
            }
        }


        $(function(){


            //初始化markdown编辑器
            var editor = editormd("question-editor", {
                width  : "100%",
                height : "560",
                path   : "/markdown/lib/",
                placeholder:"请输入问题描述...",
                watch:false, //取消自动预览

                //文件上传的属性
                imageUpload    : true,//开启文件上传
                imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "/question/imgUpload",
            });

            $("#btn-publish").click(function () {
                var title = $("#title").val();
                var description=$("#description").val();
                var tags = $("#tags").val();
                var id = $("#question_id").val();
                var data1 = "title=" + title + "&description=" + description + "&tags=" + tags+"&id="+id;
                var data2 = "title=" + title + "&description=" + description + "&tags=" + tags+"&id=";
                if (!isNaN(id)){
                    $.ajax({
                        type: "POST",
                        dataType :"JSON",
                        data: data1,
                        url:"/publish",
                        success:function(data){
                            callback(title,description,tags,data);
                        },
                    });
                }else{
                    $.ajax({
                        type: "post",
                        dataType :"JSON",
                        data: data2,
                        url:"publish",
                        success:function(data){
                            callback(title,description,tags,data);
                        },
                    });
                }



            });
        });

    </script>



</head>
<body>

<!--导航栏-->
<div th:replace="index::navigation"></div>



<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="border-right: solid 1px #eee">
            <h4><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>发起问题</h4>
            <hr>

            <form action="/publsh" method="post">
                <div class="form-group">
                    <label for="title">问题标题：</label>
                    <input autocomplete="off" th:if="${question}" type="text" class="form-control" th:value="${question.title}" id="title" name="title" placeholder="问题标题...">
                    <input  autocomplete="off" th:unless="${question}" type="text" class="form-control" id="title" name="title" placeholder="问题标题...">
                    <input  th:if="${question}" id="question_id" type="hidden" th:value="${question.id}">
                </div>

                <div id="question-editor" class="form-group">
                    <label for="description">问题内容(必填,请参照右侧提示)：</label>
                    <textarea  class="form-control" style="display: none;" autocomplete="off" th:if="${question}" name="description" id="description" th:text="${question.description}"  cols="30" rows="10"></textarea>
                    <textarea  class="form-control" style="display: none;" autocomplete="off" th:unless="${question}" name="description" id="description"   cols="30" rows="10"></textarea>
                </div>


                <div class="form-group">
                    <label for="tags">添加标签：</label>
                    <input autocomplete="off"   th:if="${question}"  type="text" class="form-control" th:value="${question.tags}" id="tags" name="tags" placeholder="输入标签,以逗号分隔">
                    <input autocomplete="off"  th:unless="${question}" type="text" class="form-control"  id="tags" name="tags" placeholder="输入标签,以逗号分隔">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="tag:${tags}" th:class="${tag.tagCategoryName == '开发语言'} ? 'active' : '' ">
                                <a th:href="${'#'+tag.tagCategoryName}" aria-controls="home" role="tab" data-toggle="tab" th:text="${tag.tagCategoryName}"></a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" style="margin-top: 6px;">
                            <div th:each="tag:${tags}" role="tabpanel" class="tab-pane" th:classappend="${tag.tagCategoryName == '开发语言'} ? 'active' : '' " th:id="${tag.tagCategoryName}">
                                <a href="javascript:;"  th:each="t:${tag.tags}" onclick="getQuestionTags(this);" th:data-tag="${t}"  style="text-decoration: none;margin-right: 4px;padding-top: 12px;display: inline-block;">
                                    <span class="label label-info">
                                            <span class="glyphicon glyphicon-tag"></span>
                                            <span th:text="${t}"></span>
                                    </span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="container-fluid">
                    <div class="row">
                        <div id='msg' class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        </div>
                    </div>
                    <div id="div_right" class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="float: right;">
                        <a th:unless="${question}"  id="btn-publish" type="button" class="btn btn-success btn-publish">发布</a>
                        <a th:if="${question}" id="btn-publish" type="button" class="btn btn-success btn-publish">更新</a>
                    </div>

                </div>



            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            <span style="font-size: 16px;">• 问题标题:</span> 请用精简的语言描述您发布的问题，不超过25字 <br>
            <hr/>
            <span style="font-size: 16px;">• 问题补充:</span> 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料： <br>
            <hr/>
            <span style="font-size: 16px;">• 选择标签:</span> 选择一个或者多个合适的标签，不超过10个字 <br>
            <hr/>
        </div>
    </div>
</div>

</body>
</html>