<!--<!DOCTYPE html>&ndash;&gt;-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布-简e社区</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/community.js"></script>


    <script src="/js/bootstrap.min.js"></script>


    <script>

        function  callback(title,description,tags,data){

            $("#msg").empty();
            if(data.msg=="请先登录"){
                var errormsg = "<div class='alert alert-danger alert-dismissible' role='alert'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"+
                    "<span aria-hidden='true'>&times;</span>"+
                    "</button>"+
                    "<strong>错误：</strong>"+data.msg+
                    "</div>";
                $("#msg").append(errormsg);
            }else{
                var successmsg = "<div class='alert alert-success alert-dismissible' role='alert'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"+
                    "<span aria-hidden='true'>&times;</span>"+
                    "</button>"+
                    "<strong>成功：</strong>"+data.msg+
                    "</div>";
                $("#msg").append(successmsg);
                var hr = "/";
                window.location.href = hr;
            }
        }


        $(function(){



            $("#btn-publish").click(function () {
                var title = $("#title").val();
                var description=$("#description").val();
                var tags = $("#tags").val();
                var id = $("#question_id").val();
                var data1 = "title=" + title + "&description=" + description + "&tags=" + tags+"&id="+id;
                var data2 = "title=" + title + "&description=" + description + "&tags=" + tags+"&id=";
                if (!isNaN(id)){
                    $.ajax({
                        type: "POST",
                        dataType :"JSON",
                        data: data1,
                        url:"/publish",
                        success:function(data){
                            callback(title,description,tags,data);
                        },
                    });
                }else{
                    $.ajax({
                        type: "post",
                        dataType :"JSON",
                        data: data2,
                        url:"publish",
                        success:function(data){
                            callback(title,description,tags,data);
                        },
                    });
                }



            });
        });

    </script>


</head>
<body>

<!--导航栏-->
<div th:replace="index::navigation"></div>



<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h4><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>发布</h4>
            <hr>

            <form action="/publsh" method="post">
                <div class="form-group">
                    <label for="title">问题标题：</label>
                    <input th:if="${question}" type="text" class="form-control" th:value="${question.title}" id="title" name="title" placeholder="问题标题...">
                    <input th:unless="${question}" type="text" class="form-control" id="title" name="title" placeholder="问题标题...">
                    <input th:if="${question}" id="question_id" type="hidden" th:value="${question.id}">
                </div>

                <div class="form-group">
                    <label for="description">问题内容(必填,请参照右侧提示)：</label>
                    <textarea th:if="${question}" name="description" id="description" th:text="${question.description}" class="form-control" cols="30" rows="10"></textarea>
                    <textarea th:unless="${question}" name="description" id="description"  class="form-control" cols="30" rows="10"></textarea>
                </div>


                <div class="form-group">
                    <label for="tags">添加标签：</label>
                    <input th:if="${question}" type="text" class="form-control" th:value="${question.tags}" id="tags" name="tags" placeholder="输入标签,以,分隔">
                    <input th:unless="${question}" type="text" class="form-control"  id="tags" name="tags" placeholder="输入标签,以,分隔">
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div id='msg' class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        </div>
                    </div>
                    <div id="div_right" class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="float: right;">
                        <a th:unless="${question}"  id="btn-publish" type="button" class="btn btn-success btn-publish">发布</a>
                        <a th:if="${question}" id="btn-publish" type="button" class="btn btn-success btn-publish">更新</a>
                    </div>

                </div>



            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料： <br>
            • 选择标签: 选择一个或者多个合适的标签，不超过10个字 <br>
        </div>
    </div>
</div>

</body>
</html>