<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiane.mapper.QuestionMapper">

    <select id="findQuestionByPage"  resultType="Question">
        select q.id,q.title,q.description,q.creator,q.gmt_create gmtCreate ,q.gmt_modified gmtModified,
        q.comment_count commentCount,q.view_count viewCount,q.like_count likeCount,q.tags,u.id,u.name
        from question q join  user u where q.CREATOR = u.id
        <if test="search != null &amp;&amp; search != '' ">
            and (q.title REGEXP #{search} or q.description REGEXP #{search} or u.name REGEXP #{search})
        </if>
         order by q.gmt_create desc limit #{start},#{end}
    </select>

    <select id="findCounts"  resultType="int">
        select count(q.id)
        from question q join  user u where q.CREATOR = u.id
        <if test="search != null &amp;&amp; search != '' ">
            and (q.title REGEXP #{search} or q.description REGEXP #{search} or u.name REGEXP #{search})
        </if>
    </select>


</mapper>